.event-container{
    width: 100%;
    height: 80vh;
    text-align: center;
    padding: 3rem 3rem;
}

.btns-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;

}

.btns-container .left-btns{
    border: 1px solid #6b7280;
    padding: 2px;
    border-radius: 5px;

}

.votings-btn,
.ticketing-btn{
    padding: 10px 1px;
    background-color: transparent;
    font-size: 1rem;
    color: #6b7280;
   
}
 .left-btns a .active{
    background-color: rgb(0, 44, 240);
    color: #fff;

 
}

.left-btns:not(.active){
    background-color: #fff;
    color: #6b7280;
}

.right-btns .view-all-btn{
    padding: 8px 10px;
    background-color: #2563eb;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 8px;
}

.right-btns .select-option{
    outline: none;
    border: none;
    padding: 8px 1rem;
    font-size: 1rem;
    border: 1px solid #6b7280;
    border-radius: 8px;
}

.right-btns .select-option option{
   background-color: #fff;
   border-radius: 8px;
}

.right-btns .select-option option:hover{
    
   background-color: #bebcbcad;
}

.event-cards{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}


.event-cards .card1{
    width: 25%;
    border: 1px solid #6b7280;
    border-radius: 8px;
    padding: 10px;

}

.event-cards .card1 img{
    width: 100%;
}

.event-cards .card1 .date-code{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    color: #01091d;
}

.event-cards .card1 .card-btn{
    width: 100%;
    border: 1px solid  rgb(0, 44, 240);
    border-radius: 8px;
    margin-top: 1rem;
    padding: 10px;
    font-size: 1rem;
    color: #01091d;
    transition: .5s;
}

.text h3{
    margin-top: 10px;
}

.event-cards .card1 .card-btn:hover{
    background-color: #6b728060;
}

@media screen and (max-width:992px) {
    .event-container{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 3rem 1rem;
    }

    .event-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
     }

     
.event-cards .card1{
    width: 100%;
    border: 1px solid #6b7280;
    border-radius: 8px;
    padding: 10px;

}


     
    
}

@media screen and (max-width:768px) {
    .event-container{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 3rem 1rem;
    }

    .event-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }

     .btns-container{
     flex-direction: column;
    
    }

    .right-btns .view-all-btn{
       width: 100%;
    }
    
    .right-btns .select-option{
        margin-top: 20px;
        margin-bottom: 20px;
       width: 100%;
    }
    
    .right-btns .select-option option{
       background-color: #fff;
       border-radius: 8px;
    }
     
    
}


@media screen and (max-width:600px) {
    .event-container{
        height: auto;
        padding: 3rem 1rem;
    }

    .event-cards{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }

    .btns-container{
        flex-direction: column;
       
       }
    
    
}
