.header {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/78add316-ca78-460a-96a1-0719b123ecb2 1-DAS3sIB6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text{
    width: 65%;
    background-color: transparent;
    color: #fff;

}


.header-text h1{
    font-size: 3rem;
    line-height: 1.2;
}

span{
    color: #2563eb;
}

.header-text p{
    font-size: 1.5rem;
    margin-top: 1rem;
}


.header-text .header-buttons{
   margin-top: 20px;
    

}

.header-text .header-buttons .buy-ticket{
    margin-left: 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 12px 1rem;
    letter-spacing: .5px;
}

.header-text .header-buttons .vote-now{
    background-color:#2563eb ;
    color: #fff;
    border-radius: 20px;
    padding: 12px 1.5rem;
    letter-spacing: .5px;
}


/* .featured-eventcontainer */

.featured-eventcontainer{
    width: 100%;
    height: auto;
    padding: 2rem 3rem;


}

.small-text-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.small-text-btn p{
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 400;
}

.viewall-btn{
  padding: 11px 17px;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  background-color: #2563eb;
  font-size: 1rem;
}


/* featured event */

.featured-cards{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.featured-cards .card1{
    border: 1px solid gray;
    width: 100%;
    border-radius: 8px;
    padding: 10px;

}

.featured-cards .card1 img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.featured-cards .card1 .text{
    margin-top: 20px;
}

.featured-cards .card1 .text .date-code{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 11px;
    font-size: 1rem;
    color: #010e2c;
}

.featured-cards .card1 h3{
    letter-spacing: .5px;
    font-size: 1.3rem;
    color: #172035;
}

.featured-cards .card1 .card-btn{
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #2563eb;
    padding: 10px;
    border-radius: 8px;
    transition: .5s;
}

.featured-cards .card1 .card-btn:hover{
    background-color: #d4dbecd3;
}

/* howit-works-page */

.howit-works-page{
    padding: 2rem 3rem;
    width: 100%;
    background-color: #f3f4f6;

}

.howit-works-page .cards{
    display: flex;
  gap: 2rem;
    
}

 .cards .ticket-Purchasing{
    width: 50%;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.205);
    padding: 24px;
}

.ticket-Purchasing h3{
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
}

ul li{
   margin-bottom: 1.2rem;
   font-size: 1.1rem;
   color: #01091d;
}

li span{

     margin-right: 1rem;
    background-color: #2563eb;
    padding: .3rem .7rem;
    border-radius: 50%;
    color: #fff;
}

.ticket-Purchasing .purchasing-btn{
    background-color: #2563eb;
    color: #fff;
    padding: 10px 1rem;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
}


.cards .voting-instructions{
    width: 50%;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.205);
    padding: 24px;
}

.voting-instructions h3{
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
}




.voting-instructions .vote-now{
    background-color: #2563eb;
    color: #fff;
    padding: 10px 1rem;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
}

@media screen and (max-width:1200px) {
    .header-text{
        width: 75%;
       
    }

}
@media screen and (max-width:999px) {

    .header {
      
         height: auto;
       
    }
     /* .featured-container */

     .featured-eventcontainer{
        width: 100%;
        height: auto;
        padding: 2rem 2rem;
    }

    
    /* featured event */
    
    .featured-cards{
        grid-template-columns: repeat(2, 1fr);
        
    }

    .howit-works-page{
        padding: 2rem 3rem;
        width: 100%;
        background-color: #f3f4f6;
    
    }
    
    .howit-works-page .cards{
       flex-direction: column;
    }

     .cards .ticket-Purchasing{
        width: 100%;
    }

    
.cards .voting-instructions{
    width: 100%;
   
}
    
}
    


@media screen and (max-width:768px) {

    .header-text{
        width: 100%;
        padding: 1rem;
       
    }

    .header-text h1{
        font-size: 1.9rem;
        font-weight: bold;
    }
         /* .featured-container */

         .featured-eventcontainer{
            height: auto;
            padding: 2rem 1rem;
        }

        .small-text-btn{
          flex-direction: column;
        }

        .viewall-btn{
          width: 100%;
          }
          
    
        
        /* featured event */
        
        .featured-cards{
            grid-template-columns: repeat(1, 1fr);
            
        }

        .featured-cards .card1 img{
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }
    
        .howit-works-page{
            padding: 2rem 1rem;
            width: 100%;
          
        
        }
        
        .howit-works-page .cards{
           flex-direction: column;
        }
    
         .cards .ticket-Purchasing{
            width: 100%;
        }
    

    
}

@media screen and (max-width:600px) {

    
}

@media screen and (max-width:480px) {

    
}



