.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    padding: 1rem 2rem;
}

.top-nav{
    width: 100%;
   display: flex;
   justify-content: space-between;

}

.logo img{
    width: 9rem;
}

.search-input{
    border: 1px solid #0f0f0f;
    width: 35%;
    padding: 0 10px;
    height: 2.7rem;
}

.event-btn{
    border: 1px solid blue;
    border-radius: 8px;
    height: 2.7rem;
    padding: 2px 1.5rem;
    background-color: #ffffff;
    transition: .5s;
}

.signup-btn{
    border-radius: 8px;
    background-color: #2563eb;
    color: #fff;
    padding: 8px 1rem;
    height: 2.7rem;
    padding: 2px 1.5rem;
   
}

.event-btn:hover{
    background-color: rgba(231, 228, 223, 0.452);
}

.bottom-list-nav{
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
}

.bottom-list-nav ul{
    margin: 1rem auto;
    gap:1rem ;
    font-size: 1rem;
    display: flex;
    text-align: center;
    color: #020817;
}

.bottom-list-nav ul li{
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 400;
    color: rgb(0, 0, 12);
}

.bottom-list-nav ul li a{
   text-decoration: none;
    font-size: 1.1rem;
    transition: .5s;
}

.bottom-list-nav ul li a:not(.active):hover{
    color: #2563eb;

}


 .active{
    background-color: #2563eb;
    color: #fff;
    border-radius: 8px;
    padding: 8px 10px;
 }



 /* side_navbar */
 .side_navbar{
    display: none;
 }

@media screen and (max-width:768px) {
    .navbar{
        padding: 1rem 1rem;
        height: auto;
    }
    
    
    .logo img{
        width: 9rem;
    }
    
    .search-input{
       display: none;
    }

    .bottom-list-nav ul{
        text-align: center;
        gap: 1em ;
        flex-wrap: wrap;
        
    }
    
    .bottom-list-nav ul li{
        font-size: 1rem;
        letter-spacing: .5px;
        font-weight: 400;
        color: rgb(1, 1, 22);
    }

    
}