.loginwith-google-btn{
    width: 100%;
    padding: 10px;
    background-color: #2563eb;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 1rem;
}